<!DOCTYPE html>
<html>
<head>
    <title>Ocelot comparison report</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/footable.standalone.min.css">
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <link rel="stylesheet" href="/static/css/grids-responsive-min.css">
    <link rel="stylesheet" href="/static/css/report.css">
    <script src="/static/js/jquery-1.12.3.min.js"></script>
    <script src="/static/js/footable.min.js"></script>
    <link rel="stylesheet"
          href="/static/css/chartist.min.css">
    <script src="/static/js/chartist.min.js"></script>
    <script src="/static/js/chartist-plugin-axistitle.min.js"></script>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
