{% extends "base.html" %}

{% block body %}
<h1>Ocelot model run activity dataset</h1>
{% if similarity is not none %}<h2>Similarity score: {{ similarity }}</h2>{% endif %}
<p>Name: {{ model['name'] }}</p>
<p>Reference product: {{ model['reference product'] }}</p>
<p>Location: {{ model['location'] }}</p>

<h2>Files</h2>
<p>Model: <a href="{{ model['raw_url'] }}">{{ model['filepath'] }}</a></p>
{% if given %}<p>Given: <a href="{{ given['raw_url'] }}">{{ given['filepath'] }}</a></p>{% endif %}


<p>Activity {% if not given %}not {% endif %}found in reference database</p>

<p><a href="{{ model['log_url'] }}">Log messages</a></p>

<h1>Exchanges</h1>
{% if exchanges %}
<table class="table" data-filtering="true" data-sorting="true">
    <thead>
        <tr>
            <th data-breakpoints="xs">Activity</th>
            <th data-breakpoints="xs">Flow</th>
            <th data-breakpoints="xs">Location/Subcategory</th>
            <th data-type="html" data-breakpoints="xs">Equal</th>
            <th data-breakpoints="xs" data-sort-ignore="true">Model Amount</th>
            <th data-breakpoints="xs" data-sort-ignore="true">Given Amount</th>
            <th data-breakpoints="xs">Unit</th>
            <th data-breakpoints="xs">Type</th>
        </tr>
    </thead>
    <tbody>
        {% for elem in exchanges %}
        <tr>
            <td>{{ elem[1] }}</td>
            <td>{{ elem[0] }}</td>
            <td>{{ elem[2] }}</td>
            <td>{% if elem[3] %}<i class="fa fa-check" aria-hidden="true"></i>{% else %}<i class="fa fa-times-circle" aria-hidden="true"></i>{% endif %}</td>
            {% for o in elem[4:] %}<td>{{ o }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<table class="table" data-filtering="true" data-sorting="true">
    <thead>
        <tr>
            <th data-breakpoints="xs" data-type="number">Amount</th>
            <th data-breakpoints="xs">Name</th>
            <th data-breakpoints="xs">Compar.</th>
            <th data-breakpoints="xs">Subcom.</th>
            <th data-breakpoints="xs">Unit</th>
            <th data-breakpoints="xs">Type</th>
        </tr>
    </thead>
    <tbody>
        {% for exc in model['exchanges'] %}
        <tr>
            <td>{{ exc['amount'] }}</td>
            <td>{{ exc['name'] }}</td>
            <td>{{ exc.get('compartment', '') }}</td>
            <td>{{ exc.get('subcompartment', '') }}</td>
            <td>{{ exc['unit'] }}</td>
            <td>{{ exc['type'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if model['parameters'] %}
<h1>Parameters</h1>
<table class="table" data-filtering="true" data-sorting="true">
    <thead>
        <tr>
            <th data-breakpoints="xs" data-type="number">Amount</th>
            <th data-breakpoints="xs">Name</th>
            <th data-breakpoints="xs">Formula</th>
            <th data-breakpoints="xs">Variable</th>
            <th data-breakpoints="xs">Unit</th>
        </tr>
    </thead>
    <tbody>
        {% for p in model['parameters'] %}
        <tr>
            <td>{{ p['amount'] }}</td>
            <td>{{ p['name'] }}</td>
            <td>{{ p.get('formula', '') }}</td>
            <td>{{ p.get('variable', '') }}</td>
            <td>{{ p['unit'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>{% else %}<h1>No parameters</h1>
{% endif %}

<script type="text/javascript">
jQuery(function($){
    $('.table').footable();
});
</script>
{% endblock %}
